@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



@theme inline {


}

:root {
  --primary: #121315;

  --secondary: #666666;
  --accent: #ffca3b;
  --border: #d7d7d7;

  --font-dmSans-primary: 'DM Sans', sans-serif; /* Define la variable para DM Sans */
  --font-barlow-secondary: 'Barlow', sans-serif;
   --font-montserrat: 'Montserrat', sans-serif; 
   --font-dancingScript: "Dancing Script", sans-serif; 


}
body{
  font-family: var(--font-dmSans-primary);
  color: var(--secondary);
}

h1 ,h2,h3,h4,h5,h6{
  font-family: var(--font-dmSans-primary);
  color: var(--primary);
}

.h1{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: black;
  line-height: 1.1;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 54px;
  }
}

.h2{
  font-size: 36px;
  line-height: 1.3;
  text-transform: capitalize;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .h2 {
    font-size: 46px;
    line-height: 56px;
  }
}


.h3 {
  font-family: var(--font-dmSans-primary); /* Asegúrate de que esta variable esté definida en tu :root */
  font-weight: bold;
  font-size: 1.875rem; /* 30px en decimal */
}

.h4 {
  font-size: 1.5rem;        /* 24px en decimal */
  font-weight: 600;         /* Semibold */
}

/*LO cambio oor bg-primary*/
.primary{
  background-color: var(--primary);

}
.textprimary{
 /* font-family: var(--font-dmSans-primary); */
 color: var(--primary)

 /* background-color: red; */
}

.fontprimary{
  font-family: var(--font-dmSans-primary);
}
.fontsecondary{
  font-family: var(--font-barlow-secondary);
}

.textaccent{
  color: var(--accent);
}
.bgaccent{
  background-color: var(--accent);
}
.bgprimary{
  background-color: var(--primary);
}

.fontmontserrat{
  font-family: var(--font-montserrat);
}
.fontdancingscript{
  font-family: var(--font-dancingScript);
}


.bg-hero-custom {
  background-image: url('/assets/img/hero/bg.jpg');
 
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
 
}

/* .container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%; 
} */